.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: rgb(20, 29, 40);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 700px;
  width: 100%;
  min-height: 450px;
  border: 1px solid rgb(20, 29, 40);
  box-shadow: 0 5px 10px rgb(40, 46, 53);
}

.modal-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.image-project-details{
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-project-details img {
  width: 250px;
  height: 250px;
  margin-right: 20px;
  padding: 0 0 20px 20px;
}

.modal-header {
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  padding: 0 20px;
  border-bottom: 1px solid rgb(20, 29, 40);
  margin-bottom: 20px;
  background-color: black;
}

.modal-header span {
  font-size: 30px;
  display: inline-block;
}

.close-modal {
  position: absolute;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.modal-content-details {
  border-left: 1px solid white;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-body p {
  margin-top: 0;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 300;
}

.modal-footer a i {
  text-decoration: none;
  margin-bottom:10px;
}